<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="<?=c('site_icon')?>">
  <title><?=$top_title . ' | ' . c('site_name') ?></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<?=css('bootstrap.min.css')?>" rel="stylesheet">
  <style type="text/css">body {padding-top: 80px;padding-bottom: 40px;}</style>
	<link rel="stylesheet" href="<?=css('style.css')?>" type="text/css" >
  <?php if( isset($css) && is_array( $css ) ): ?>
    <?php foreach( $css as $cfile ): ?>
      <link rel="stylesheet" type="text/css" href="<?=css($cfile)?>">
    <?php endforeach; ?>
  <?php endif; ?>
  <script src="<?=js('jquery.min.js')?>"></script>
  <script src="<?=js('bootstrap.min.js')?>"></script>
  <!--[if lt IE 9]>
    <script src="<?=js('html5.js')?>"></script>
  <![endif]-->
  <!--[if IE 6]>    
    <link href="<?=css('ie6.min.css')?>" rel="stylesheet">
    <script src="static/script/ie6.min.js"></script>
  <![endif]-->
</head>    
<body>
 	<?php @include_once( dirname(__FILE__) ) . DS . 'header.tpl.html'; ?>  
  <div class="container">
    <div class="row">
    <?php 
      $tfile = 'view' . DS . 'layout' . DS  . g('layout') . DS . 'main' . DS . g('c') . DS . g('a') . '.tpl.html';
      if( file_exists( AROOT . $tfile ) ) {
        include( AROOT . $tfile );
      } else {
        @include( CROOT . $tfile );
      }
    ?>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <?php @include_once( dirname(__FILE__) ) . DS . 'footer.tpl.html'; ?>
    </div>
  </div>
  <?php if( isset($js) && is_array( $js ) ): ?>
    <?php foreach( $js as $jfile ): ?>
      <script type="text/javascript" src="<?=js($jfile)?>" ></script>
    <?php endforeach; ?>
  <?php endif; ?>
</body>
</html>
